<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!-- <bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	  <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
	  <property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl"/>
	  <property name="username" value="system"/>
	  <property name="password" value="Srikant1234"/>
	</bean> -->
	<bean id="hiDs" class="com.zaxxer.hikari.HikariDataSource">
	<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
	<property name="jdbcUrl" value="jdbc:oracle:thin:@localhost:1521:orcl"/>
	<property name="username" value="system"/>
	<property name="password" value="Srikant1234"/>
	<property name="minimumIdle" value="10"/>
	<property name="maximumPoolSize" value="20"/>
	<property name="connectionTimeout" value="20000"/>
	</bean>
	<bean id="sc" class="org.springframework.jdbc.datasource.SingleConnectionDataSource">
	<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
	<property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl"/>
	<property name="username" value="system"/>
	<property name="password" value="Srikant1234"/>
	
	</bean>
	
	
	<bean id="cdao" class="com.nt.dao.CustomerDAOImpl">
<!-- 	   <constructor-arg ref="hiDs"/> -->
<constructor-arg ref="sc"/>
	
	</bean>
	<bean id="cmgs" class="com.nt.service.CustomerMgmtServiceImpl">
	   <constructor-arg ref="cdao"/>
	</bean>
	<bean id="mco" class="com.nt.controller.MainControler">
	<constructor-arg ref="cmgs"/>
	</bean>

</beans>
