<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="dtdc" class="com.nt.beans.DTDC" scope="prototype" />
<bean id="bdt" class="com.nt.beans.BlueDart" />
<bean id="fkt" class="com.nt.beans.Flipkart">
  <constructor-arg ref="dtdc"/>
</bean>

</beans>
